<h3>Javascript libs testing page</h3>
<br />
<div id="contentsDiv">
  <igx-card id="contentsCard">
    <igx-card-header>IgniteUI Lib</igx-card-header>
    <igx-card-media>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/mg7netw1JuM?loop=1"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </igx-card-media>
    <igx-card-content>
      <p>this youtube video makes your focus more better.</p>
    </igx-card-content>
  </igx-card>
</div>
<h4>Chart.js + types/chartjs + ng2Chartjs</h4>
<canvas
  baseChart
  [chartType]="chartType"
  [options]="chartOptions"
  [labels]="chartLabels"
  [legend]="chartLegend"
  [datasets]="chartData"
></canvas>
