h3 {
  font-family: "Poppins", sans-serif;
}

.contentsDiv {
  display: grid;
  width: 500px;
}

.contentsCard {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
